body {
    background-color: #f7e7b5;

}
hr{

  border-style: dotted none none;
  border-color: #B6B6B4;
  border-width: 5px;
  width: 10%;

}
h2{
  color: #66BFBF;
}
h4:hover {
  background-color: yellow;
}
